
.site-content{

	background-color: orange;

	.entry-content{
		
	}

	.article-header h1{

	}

}

article, .navigation, .search-results .page-title, .search-no-results .no-results{
	//background-color: gray;
}


.widget-area{

	background-color: darkorange;
	
	
	margin: 0;
	padding: 1em;

}